<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='base_style.css') }}">


<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="container">
  <!-- Navigation -->
  <header> <a href="">
    <h4 class="logo">CLOUDBOT ☁</h4>
    </a>
    <nav>
      <ul><li><a href="">HOME</a></li>
        <li><a href="report">REPORT</a></li>
        <li><a href="team">CONTACT OUR TEAM</a></li>
      </ul>
    </nav>
  </header>
    <!-- Hero Section -->
  <section class="hero" id="hero">
      <div class="vertical-alignment">
          <div>
            <h2 class="hero_header">Cognitive Behavioral Therapy <span class="light">CHATBOT</span></h2>
            <p class="tagline">Your 2am online friend</p>
          </div>
      </div>

  </section>
    <!-- About Section -->
  <section class="about" id="about">
    <p class="text_column">Cognitive behavioural therapy (CBT) is a talking therapy that can help you manage your problems by changing the way you think and behave. It's most commonly used to treat anxiety and depression, but can be useful for other mental and physical health problems. </p>
	<p class="text_column">There are numerous cognitive behavioural therapy techniques, all aimed at altering self-defeating thoughts, overwhelming emotions, and ineffective behavior. Our team designed an AI-chatbot, named CloudBot, which was trained to conduct cognitive reconstructuring exercises. </p>
	<p class="text_column">Cognitive restructuring is aimed at learning to recognize dysfunctional thought patterns and develop more rational ways of understanding challenging situations.  Cognitive restructuring is a collection of different techniques to help improve your thinking. Cognitive restructuring techniques can include tracking thoughts during difficult situations, identifying cognitive distortions, and engaging in behavioural experiments to test out whether your thoughts are true. </p>
  </section>

  <!-- Parallax Section -->
  <section class="banner">
    <div>
        <h2 class="parallax">About CloudBot</h2>
        <p class="parallax_description">CloudBot is a innocent cloud designed by our team. He is here for you whenever you need.</p>
    </div>
  </section>
    <!-- Copyrights Section -->
  <div class="copyright">&copy;2022- <strong>CloudBot</strong></div>
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://i.ibb.co/mJ0C0cQ/chat-cloud.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Cloud Bot ☁</h4>
                    <p class="chatbox__description--header">Hi, I'm CloudBot 😊. I am a trained medical bot!</p>
                </div>
            </div>
            <div class="chatbox__messages">

                 <div class="messages__item messages__item--visitor">Now, what about you? What's your name?</div>
                <div class="messages__item messages__item--visitor">https://cogbtherapy.com/cognitive-behavior-therapy-techniques</div>
                <div class="messages__item messages__item--visitor">If you want to learn more about these techniques, I encourage you to visit this link:</div>
                <div class="messages__item messages__item--visitor">I am a trained medical bot used mostly for managing mental health issues using Cognitive Behavioral Therapy (CBT) techniques.</div>
                <div class="messages__item messages__item--visitor">Hi, I'm CloudBot 😊 </div>

            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
        </div>
    </div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</div>
</body>
</html>