<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://i.ibb.co/mJ0C0cQ/chat-cloud.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Cloud Bot ☁</h4>
                    <p class="chatbox__description--header">Hi, I'm CloudBot 😊. I am a trained medical bot!</p>
                </div>
            </div>
            <div class="chatbox__messages">

                 <div class="messages__item messages__item--visitor">Now, what about you? What's your name?</div>
                <div class="messages__item messages__item--visitor">https://cogbtherapy.com/cognitive-behavior-therapy-techniques</div>
                <div class="messages__item messages__item--visitor">If you want to learn more about these techniques, I encourage you to visit this link:</div>
                <div class="messages__item messages__item--visitor">I am a trained medical bot used mostly for managing mental health issues using Cognitive Behavioral Therapy (CBT) techniques.</div>
                <div class="messages__item messages__item--visitor">Hi, I'm CloudBot 😊 </div>

            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>