<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='team_style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Our team</title>
</head>
<body>
<div class="container">
  <header> <a href="/">
    <h4 class="logo">CLOUDBOT ☁</h4>
    </a>
    <nav>
      <ul>
        <ul><li><a href="/">HOME</a></li>
        <li><a href="report">REPORT</a></li>
        <li><a href="team">CONTACT OUR TEAM</a></li>
      </ul>
    </nav>
  </header>
  <section>
    <div class="section-articles">
      <article class="left_article">
        <h3>our team</h3>
        <p>Psychologists study cognitive functioning and behavior, and use their knowledge to assist clients with the treatment or management of mental health and behavioral difficulties. A psychologist is someone who has an intuitive understanding of people and their needs. The best ones are driven by compassion, creativity, and truth-telling abilities.</p>
        <p>Some psychologists work alone, but when several specialists come together beautiful things happen. We can take as example the intelligent cloud which acts as a professional psychologist. Our team invested a lot of knowledge in this chatbot and provide with him the best techniques for helping people around the world.</p>
          <p>Do you feel that your problem is more complex and you would like to contact a human specialist? Below you have some contact information about each team member. Feel free to talk to them! 🌟</p>
      </article>
      <aside class="right_article"><img src="../static/images/team2.jpg" alt="" width="400" height="200" class="placeholder"/> </aside>
    </div>
  </section>
  <div class="row">
    <div class="columns">
      <p class="thumbnail_align"> <img src="../static/images/doctor1.jpg" alt="" class="thumbnail"/> </p>
      <h4>Oliver Smith</h4>
      <p>Oliver is the founder of the CloudBot project. He studied cognitive psychology at the University of Pennsylvania. Oliver loves to work with children. He helped a lot of students to deal with stress, insomnia or anxiety.</p>
		<p style="text-align:left">Oliver's email address: oliver.smith@cloudbot.com</p>
    </div>
    <div class="columns">
      <p class="thumbnail_align"> <img src="../static/images/doctor2.jpg" alt="" class="thumbnail"/> </p>
      <h4>Thomas Miller</h4>
      <p>Thomas has an experience of over 20 years as psychologist. He studied psychology at the University of Chicago. Thomas was helped many patients to cope with their depression, anxiety and panic attacks.</p>
		<p style="text-align:left">Thomas's email address: thomas.miller@cloudbot.com</p>
    </div>
    <div class="columns">
      <p class="thumbnail_align"> <img src="../static/images/doctor3.jpg" alt="" class="thumbnail"/> </p>
      <h4>Emily Smith</h4>
      <p>Emily graduated Standford University in 2014. She is specialised on relationship problems, anger issues and bipolar disorders. Emily is also member of multiple projects which make people aware of the situations caused by mental health issues.</p>
		<p style="text-align:left">Emily's email address: emily.smith@cloudbot.com</p>
    </div>
    <div class="columns">
      <p class="thumbnail_align"> <img src="../static/images/doctor4.jpg" alt="" class="thumbnail"/> </p>
      <h4>David O'Brien</h4>
      <p>David is a cognitive psychologist specialised on treating addiction issues, low self-esteem and phobias. He is also one of the most appreciated psychology teachers at the University of Yale. When he graduated the doctoral program, he won the Early Graduate Student Researcher Award for his thesis.</p>
		<p style="text-align:left">David's email address: david.obrein@cloudbot.com</p>
    </div>
  </div>


    <div class="copyright">&copy;2022 - <strong>CLOUDBOT</strong></div>

</div>
</body>
</html>